# Created by venv; see https://docs.python.org/3/library/venv.html

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
*.py[cod]
.venv

# Django specific
db.sqlite3
media/
staticfiles/

# OS specific
.DS_Store
Thumbs.db

# VS Code
.vscode/