{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/finshed.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/navbar.css' %}">
</head>
<body>
    {% include "HTML/navbar.html" %}
    
    <img src="{% static 'Images/stamps1.png' %}" class="stamp1">
    <img src="{% static 'Images/cloud1.png' %}" class="cloud">
    <div class="left">
            <div class="card">
                <h2>Finished Projects</h2>
                <div class="project">
                    <img src="{% static 'Images/1000005692.png' %}" alt="Project 1">
                    <div class="project-info" style="margin-right: 4rem;">
                        <h3>AI ideas</h3>
                        <p>Some ideass that AI gave you</p>
                    </div>
                    <img src="{% static 'Images/1000005692.png' %}" alt="Project 1">
                    <div class="project-info">
                        <h3>score</h3>
                        <p>why you have that score</p>
                    </div>
                </div>
            </div>
    </div>
</body>
</html>