{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert to recycle</title>
    <link rel="stylesheet" href="{% static 'CSS/menu.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/navbar.css' %}">
</head>

<body>
    <div>
    {% include "HTML/navbar.html" %}
    <main>
        <img id="tree" src="{% static 'Images/new_arrows.png' %}" alt="Picture of Wooden arrows.">
        <a id="lb_button" href="{% url 'leaderboard' %}">Leaderboards</a>
        <a id="lb_button1" href="{% url 'login' %}"><p>LOGIN</p></a>
        <a id="lb_button2" href="{% url 'register' %}"> REGISTER</a>
    </main>

</body>
</html>