<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert to recycle</title>
    <link rel="stylesheet" href="../CSS/leaderboardes.css">
</head>

<body>
    <header>
        <h1>Leaderboards</h1>
    </header>

    <main>
        <div>
            <div class="name">From AI</div>
            <div class="leaderboard">
                <div class="person">person 1ggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
                <div class="person">person 2ggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
            </div>
        </div>

        <div>
            <div class="name">From people</div>
            <div class="leaderboard">
                <div class="person">person 1ggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
                <div class="person">person 2ggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
            </div>
        </div>
    </main>


</body>

</html>