{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert to recycle</title>
    <link rel="stylesheet" href="{% static 'CSS/leaderboardes.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/navbar.css' %}">
</head>

<body>
    {% include "HTML/navbar.html" %}

    <main>
        <div>
            <div class="name">From AI</div>
            <div class="leaderboard">
                <div class="person">1. ggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
                <div class="person">2. ggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
                <div class="person">3. ggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
                <div class="person">4. ggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
                <div class="person">5. ggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
                <div class="person">6. ggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
                <div class="person">7. ggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
                <div class="person">8. ggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
                <div class="person">9. ggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
                <div class="person">10. ggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
            </div>
        </div>

        <div>
            <div class="name">From people</div>
            <div class="leaderboard">
                <div class="person">1. ggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
                <div class="person">2. ggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
                <div class="person">3. ggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
                <div class="person">4. ggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
                <div class="person">5. ggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
                <div class="person">6. ggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
                <div class="person">7. ggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
                <div class="person">8. ggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
                <div class="person">9. ggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
                <div class="person">10. ggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
            </div>
        </div>
    </main>

</body>

</html>