{% load static %}
<div class="header">
    <div class="logo">Waste to Wonder</div>

<div class="nav">
    <a href="{% url 'index' %}">Menu</a>
    <a href="{% url 'leaderboard' %}">Leaderboard</a>
    {% if user.is_authenticated %}
    <a href="{% url 'profile_detail' username=user.username %}">Profile</a>
    {% else %}
    <a href="{% url 'profile' %}">Profile</a>
    {% endif %}
</div>

<div class="user">
    <div class="profile-pic"></div>
    <a href="{% url 'newproject' %}" class="plus-btn">+</a>
    {% if user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}" style="display:inline;" id="login">
        {% csrf_token %}
        <button class="button-logout" type="submit">Logout</button>
    </form>
    {% endif %}
</div>
</div>