<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert to recycle</title>
<link rel="stylesheet" href="../CSS/newproject.css">
</head>

<body>

<div class="header">
    <div class="logo">Insert to recycle</div>

    <div class="nav">
        <a href="#">Menu</a>
        <a href="#">Leaderboard</a>
        <a href="#">Profile</a>
    </div>

    <div class="user">
        <div class="profile-pic"></div>
        <a href="newproject.html" class="plus-btn">+</a>
    </div>
</div>

<main>
    <div class="left">
        <img src="../Images/frame.png" class="corner-img top-right">
    <img src="../Images/frame.png" class="corner-img bottom-left">
        <form id="imageForm">
            <label for="image_input" id="btn-upload-file">
                Upload Image
            </label>
            <input type="file" id="image_input" required>
        </form>
    </div>

    <div class="ai-box">
         <img src="../Images/cloud1.png" class="cloud">
        <div id="ai">AI Response</div>

        <div id="ai-answear">
            <img src="../Images/ai_list1.png" class="img_ai_response">
        </div>
    </div>
      <img src="../Images/cloud1.png" class="cloud1">
</main>

</body>
</html>