<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert to recycle</title>
    <link rel="stylesheet" href="../CSS/newproject.css">
</head>

<body>
    <header>
        <h1>New Project</h1>
    </header>

    <main>
        <div>
            <div>
                <form id="imageForm">
                <label for="image_input" id="btn-upload-file">Upload an image</label>
                <input type="file" id="image_input" accept="image/*" required>
            </form>
            </div>
        </div>

        <div>
            <div id="ai">AI response</div>
            <div>
                <img src="../Images/ai_list.png" class="img_ai_response">
                <div id="ai-answear">dcfvgh</div>
            </div>
        </div>
    </main>

    <a id="back" href="profile.html">Back</a>

</body>

</html>