{% load static %}
<!DOCTYPE html>
<html lang="bg">
<head>
<meta charset="UTF-8">
<title>Profile</title>
    <link rel="stylesheet" href="{% static 'CSS/profile.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/navbar.css' %}">
</head>
<body>

<div>

   {% include "HTML/navbar.html" %}

</div>

    <div class="main">
        <img src="{% static 'Images/cloud1.png' %}" class="cloud">
        <div class="leftt">
        <p class="t">Your Profile</p>
        <div class="left">
            <div class="card">
                <h2 class="projects-fin-unfin-name">Finished Projects ({{ total_finished }})</h2>
                {% for project in finished %}
                <a href="{% url 'project_detail' project.id %}" class="project">
                    {% if project.newPic %}
                    <img src="{{ project.newPic.url }}" alt="{{ project.title }}">
                    {% endif %}
                    <div class="project-info">
                        <h3 style="text-decoration: none;">{{ project.title }}</h3>
                        {% if project.desc %}<p>{{ project.desc }}</p>{% endif %}
                    </div>
                </a>
                {% empty %}
                <p>No finished projects yet.</p>
                {% endfor %}
            </div>
            <div class="card">
                <h2 class="projects-fin-unfin-name">Unfinished Projects ({{ total_drafts }})</h2>
                {% for project in drafts %}
                <a href="{% url 'project_detail' project.id %}" class="project">
                    {% if project.oldPic %}
                    <img src="{{ project.oldPic.url }}" alt="{{ project.title }}">
                    {% endif %}
                    <div class="project-info">
                        <h3>{{ project.title }}</h3>
                        {% if project.desc %}<p>{{ project.desc }}</p>{% endif %}
                    </div>
                </a>
                {% empty %}
                <p>No drafts yet.</p>
                {% endfor %}
            </div>
        </div>
        </div>
        <div class="right">
            <div class="banner">
                {% if profile.avatar %}
                 <img src="{% static 'Images/dobri.jpg' %}"  class="big-profile">
                {% else %}
                <div class="big-profile"></div>
                {% endif %}
            </div>

            <div class="profile-info">

                <p class="username">{{ user.username }}</p>
                <p style="align-items: center;">Bio<br>"Always working on something new. I love turning ideas into reality."</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>