<!DOCTYPE html>
<html lang="bg">
<head>
<meta charset="UTF-8">
<title>Game Profile</title>
<link rel="stylesheet" href="../CSS/profile.css">
</head>
<body>

<div>

    <div class="header">
        <div class="profile-pic"></div>
          <p>Insert to recycle</p>
    </div>

    <div class="main">
        <img src="../Images/cloud1.png" class="cloud">
        <div class="leftt">
        <p class="t">Your Profile</p>
        <div class="left">
            <div class="card">
                <h2>Finished Projects</h2>
                <div class="project">
                    <img src="../Images/1000005692.png" alt="Project 1">
                    <div class="project-info">
                        <h3>Game UI</h3>
                        <p>Пълна потребителска интерфейс система</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <h2>Unfinished Projects</h2>
                <div class="project">
                    <img src="../Images/1000005692.png" alt="Project 3">
                    <div class="project-info">
                        <h3>Multiplayer Mode</h3>
                        <p>Създаване на мултиплейър система</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="right">
            <div class="banner">
                <div class="big-profile"></div>
            </div>

            <div class="profile-info">

                <p class="username">Yanichka_banichka</p>
                <!--  <div>
                    <p>Badges</p>
                    <img>
                    <img>
                    <img>
                    <img>
                </div> -->
                <p>Bio </p>
                <p id="level">Level 1</p>
                <button>Exit Profile</button>
            </div>
        </div>
    </div>
</div>

    <a id="profile" href="newproject.html">+</a>
    <a id="back" href="index.html">Back</a>

</body>
</html>