@font-face {
    font-family: 'Pixel';
    src: url('../Images/Minecraft.ttf') format('truetype');
    font-weight: 100 700;
    font-style: normal;
}


body{
    margin: 0rem;
    font-family: 'Pixel';
    background-image: url(../Images/1000005692.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


main{
    min-height: 100%;
}


 .header {
    height: 5.9rem;
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr;
    align-items: center;
    background: rgb(67, 43, 21);
    padding: 1rem 2rem;
}

.logo {
    color: white;
    font-size: 3.5rem;
    justify-self: start;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
    justify-self: center;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
}

.nav a:hover {
    color: #291707;
}

.user {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-self: end; 
}

.profile-pic {
    width: 4.7rem;
    height: 4.7rem;
    border-radius: 50%;
    background: url(../Images/1000005692.png) center/cover;
    border: 0.5rem solid rgb(43, 22, 4);
}

.plus-btn {
    font-size: 4rem;
    width: 3.7rem;
    padding-top:1rem ;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 3.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    color: white;
    text-decoration: none;
}

.plus-btn:hover {
    background: #331e01;
}
#tree{
    width: 60rem;
    margin-left: 28rem;
}



#lb_button{
    position: absolute;
    top: 16.4rem;
    left: 43.5rem;
    font-size: 4rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#lb_button:hover{
    color: rgb(59, 38, 3);
}


.btn-login {
    top: 27rem;
    left: 48rem;
    position: absolute;
     background-color: rgba(255, 255, 255,0);
    padding: 1rem 2.1rem;
    color: #000000;
    font-family: 'Pixel';
    font-size: 4rem;
    cursor: pointer;
    border: none;
}


.btn-register {
     top: 41.5rem;
    left: 45rem;
    position: absolute;
     background-color: rgba(255, 255, 255,0);
    padding: 1rem 2.1rem;
    color: #000000;
    font-family: 'Pixel';
    font-size: 3.7rem;
    cursor: pointer;
    border: none;
     transform: rotate(8deg);
}


.btn-login:hover {
    color: #5a4420;
}


.btn-register:hover {
    color: #5a4420;
}


.moda {
    display: none;
    position: fixed;
    top: 20%;
    left: 37%;
    width: 100%;
    height: 100%;
}


.modal-c{
    position: relative;
    width: 32rem;
    height: 44rem;
    background: rgba(57, 33, 6, 0.764);
}


.modal-conten {
    background-image: url(../Images/Parchment\ 6\ stock\ photo_\ Image\ of\ rough\,\ paint\,\ frame\,\ ragged\ -\ 567220.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size:cover;
    padding: 3rem;
    text-align: center;
    height: 37rem;
}


.title {
    font-family: 'Minecraft';
    font-size: 3rem;
    color: #070707;
    margin: 2.5rem auto 2.5rem auto;
    display: inline-block;
}


.modal-conten input {
    width: 80%;
    padding: 1.2rem;
    margin: 0.7rem 0;
    background: #3e2f15;
    border: 0.2rem solid #d9bc8c;
    color: #000000;
    font-family: 'Minecraft';
    font-size: 1.2rem;
}


.modal-conten button {
    margin-top: 1.2rem;
    padding: 0.8rem 2rem;
    background: rgb(61, 46, 21);
    border: 0.2rem solid #d9bc8c;
    color: #050505;
    font-family: 'Minecraft';
    font-size: 1.4rem;
    cursor: pointer;
}


.modal-conten button:hover {
    background: #5a4420;
}


.hidden {
    display: none;
}


.switch {
    display: block;
    margin-top: 1rem;
    color: #0c0c0c;
    font-family: 'Minecraft';
    cursor: pointer;
}


.switch:hover{
    color: rgb(136, 73, 2);
}


.close-btn {
    position: absolute;
    top: 0.8rem;
    right: 1.1rem;
    color: #070707;
    font-size: 2.5rem;
    cursor: pointer;
}


