@font-face {
    font-family: 'Pixel';
    src: url('../Images/Minecraft.ttf') format('truetype');
    font-weight: 100 700;
    font-style: normal;
}


body{
    margin: 0rem;
    font-family: 'Pixel';
    background-image: url(../Images/1000005692.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


main{
    min-height: 100%;
}

#tree{
    width: 60rem;
    margin-left: 28rem;
}



#lb_button{
    position: absolute;
    top: 16.4rem;
    left: 43.5rem;
    font-size: 4rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#lb_button:hover{
    color: rgb(59, 38, 3);
}


#lb_button1 {
    top: 23rem;
    left: 50rem;
    position: absolute;
    font-size: 4rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
}


#lb_button2 {
    top: 41.5rem;
    left: 45rem;
    position: absolute;
    font-size: 4rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transform: rotate(8deg);
}


#lb_button1 :hover {
    color: #5a4420;
}


#lb_button2 :hover {
    color: #5a4420;
}
