.header {
     font-family: 'Pixel';
    height: 5.9rem;
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr;
    align-items: center;
    background: rgb(67, 43, 21);
    padding: 1rem 2rem;
}


.logo {
    color: white;
    font-size: 2.8rem;
    justify-self: start;
}


.nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
    justify-self: center;
}


.nav a {
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
}


.nav a:hover {
    color: #291707;
}


.user {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-self: end; 
}


.profile-pic {
    width: 4.7rem;
    height: 4.7rem;
    border-radius: 50%;
    background: url(../Images/Dobri.png) center/cover;
    border: 0.5rem solid rgb(43, 22, 4);
}

.plus-btn {
    font-size: 4rem;
    width: 3.7rem;
    padding-top:1rem ;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 3.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    color: white;
    text-decoration: none;
}


.plus-btn:hover {
    background: #331e01;
}


.button-logout{
    background: none;
    border:none;
    cursor: pointer;
    color: white;
    font: inherit;
    font-size: 1.6rem;
}


.button-logout:hover{
    color: #291707;
}


.moda {
    display: block;
    position: fixed;
    top: 20%;
    left: 37%;
    width: 100%;
    height: 100%;
}


.modal-c{
    position: relative;
    width: 32rem;
    height: 44rem;
    background: rgba(57, 33, 6, 0.764);
}


.modal-conten {
    background-image: url(../Images/Parchment\ 6\ stock\ photo_\ Image\ of\ rough\,\ paint\,\ frame\,\ ragged\ -\ 567220.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size:cover;
    padding: 3rem;
    text-align: center;
    height: 37rem;
}


.modal-conten input {
    width: 80%;
    padding: 1.2rem;
    margin: 0.7rem 0;
    background: #3e2f15e0;
    border: 0.2rem solid #3e2b0b;
    color: #000000;
    font-family: 'Minecraft';
    font-size: 1.2rem;
}


.modal-conten button {
    margin-top: 1.2rem;
    padding: 0.8rem 2rem;
    background: #3e2f15e0;
    border: 0.2rem solid #3e2b0b;
    color: #050505;
    font-family: 'Minecraft';
    font-size: 1.4rem;
    cursor: pointer;
    margin-bottom: 1.5rem;
}


.modal-conten button:hover {
    background: #3e2b0b;
    color: white;
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
}