@font-face {
    font-family: 'Pixel';
    src: url('../Images/Minecraft.ttf') format('truetype');
    font-weight: 100 700;
    font-style: normal;
}


body{
    margin: 0rem;
    font-family: 'Pixel';
}


main{
    background-image: url(../Images/1000005692.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    gap: 15rem;
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(79, 42, 9);
    padding: 0.1rem;
    height: 8rem;
    font-size: 2rem;
}


button{
    font-size: 4rem;
    margin: 6rem 0rem 6rem 0rem;
    padding: 10.25rem 6rem 10.25rem 6rem;
}


#ai{
    font-size: 3rem;
    margin-top: 4rem;
    text-align: center;
}


#image_input {
    display: none;
}


#btn-upload-file {
    display: inline-block;
    background-color: rgb(97, 55, 4);
    color: white;
    font-size: 4rem;
    padding: 4rem;
    border: solid #331e01 1rem;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    margin-top: 11.5rem;
    margin-bottom: 11.5rem;
}


#btn-upload-file:hover {
    background-color: #331e01;
}


#ai-answear{
    border: solid 1rem #331e01;
    padding: 8rem;
    border: solid #331e01 1rem;
    border-radius: 1rem;
    text-align: center;
    margin-top: 4rem;
}