@font-face {
    font-family: 'Pixel';
    src: url('../Images/Minecraft.ttf') format('truetype');
    font-weight: 100 700;
    font-style: normal;
}


body{
    margin: 0rem;
    font-family: 'Pixel';
    background-image: url(../Images/1000005692.png);
    background-size: cover;
    background-attachment: fixed;
}