@font-face {
    font-family: 'Pixel';
    src: url('../Images/Minecraft.ttf') format('truetype');
    font-weight: 100 700;
    font-style: normal;
}


body{
    margin: 0rem;
    font-family: 'Pixel';
    background-image: url(../Images/1000005692.png);
}

main {
    
    background-image: url(../Images/1000005692.png );
    background-color: rgba(255, 255, 255, 0);
    background-size: cover;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}


.top-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.left {
    width: 45rem;
    height: 44rem;
    background: rgba(127, 103, 65, 0.753);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
}


.top-row {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-self: space-evenly;
}


.tag {
    width: 18rem;
    height: 18rem;
    border: solid 0.3rem rgb(79, 59, 30);
}
.tag1{
    background-color: rgba(79, 59, 30, 0.528);
    height: 18rem;
    width: 18rem;
    border: solid 0.3rem rgb(79, 59, 30);
}


.ai-box {
    width: 32rem;
    height: 42rem;
    background: rgba(41, 23, 7, 0.9);
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 9rem;
}
#ai-answear{
    position: absolute;
     top: 0; 
     left: 0; 
     width: 100%; 
     height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    color: rgb(42, 24, 5); 
    z-index: 2;
}
.img_ai_response {
    height: 40rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    opacity: 0.8;
}
.cloud {
    position: absolute;
    width: 23rem;
    left: 77%;
    top:10%;
    filter: drop-shadow(0 1rem 1rem rgba(0,0,0,0.5));
    z-index: 1;
}
.cloud1 {
    position: absolute;
    width: 25rem;
    top: 64%;
    left: 45%;
    filter: drop-shadow(0 1rem 1rem rgba(0,0,0,0.5));
}


input[type="file"] {
    display: none;
}

#btn-upload-file {

    background: rgb(93, 67, 23);
    padding: 2rem 1.5rem;
    border-radius: 0.7rem;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    border: none;
    color: white;
    position: relative;
    left: 0.2rem;
    top: 10%;
    width: 6rem;
}

#btn-upload-file:hover {
    background: rgb(69, 52, 23);
}
.ai {
    position: absolute;
    top: 26rem;
    left: 6rem;
    width: 20rem;
    transform: rotate(90deg) translateY(-50%);
}
.button1{
    position: absolute; 
    width: 20rem;
    top:80%;
    left: 75%;
}
.button{
    text-decoration: none;
    width: 16rem;
    height: 6rem;
    top:83%;
    left: 76.7%;
    position: absolute;
    cursor: pointer;
    border:none;
    background-color: #00000000;
    font-size: 2rem;
}
.p :hover{
    color: #52311a;
}
